.cart {
  background: rgba(255, 153, 0, 0.3);
  border-radius: 8px;
  padding: 25px;
  position: sticky;
  top: 0;
  line-height: 32px;
}
.cart p {
  font-size: 17px;
}
.cart h6 {
  font-size: 21px;
}
.removeBtn{
  padding: 7px;
    margin-top: 8px;
    background: rebeccapurple;
    border-radius: 6px;
    color: aliceblue;
}
.removeBtn:hover {
  background-color: rgba(102, 51, 153, 0.789);
}
.button-remove-buy{
  display: flex;
  justify-content: space-between;
}