.header {
  background-color: #1c2b35;
  max-width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  padding-left: 33px;
  justify-content: space-between;
  padding-right: 26px;
}
nav a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
}
nav a:hover {
  color:orange;
  cursor: pointer;
}
